
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.startup-Jeu {
  box-sizing: border-box;
  padding: 2.5rem 0rem 24.392rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.startup-Jeu .header-hS9 {
  margin: 0rem 36.6rem 0rem 36.2rem;
  width: calc(100% - 72.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .logo-SRf {
  margin: 0rem 5.2rem 0.3rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .logo-SRf .s-1-MoX {
  margin-right: 1.3984rem;
  width: 2.7019rem;
  height: 3.7009rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .logo-SRf .petro-Q17 {
  margin-top: 0.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #0f2137;
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm {
  margin: 0.1rem 43.2rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: Heebo, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-2 {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.0625;
  color: #02073e;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: Heebo, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: Heebo, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-6 {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.0625;
  color: #02073e;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: Heebo, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--3pm .home-adversite-supports-marketing--3pm-sub-8 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0625;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
}
.startup-Jeu .header-hS9 .menu-JqF .home-adversite-supports-marketing--XjF {
  margin: 0rem 4.4rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.0625;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .auto-group-vvhd-z73 {
  margin-top: 0.35rem;
  width: 9.3rem;
  height: 3.65rem;
  position: relative;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .menu-JqF .auto-group-vvhd-z73 .home-adversite-supports-marketing--BxD {
  width: 9.3rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.0625;
  color: #0a8080;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.startup-Jeu .header-hS9 .menu-JqF .auto-group-vvhd-z73 .path-49-3Ud {
  width: 8.1996rem;
  height: 0.5999rem;
  position: absolute;
  left: 0.7006rem;
  top: 3.0502rem;
  object-fit: contain;
  vertical-align: top;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF {
  box-sizing: border-box;
  padding: 10.5rem 2.8rem 0rem 2.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF .text-hJH {
  margin: 0rem 20.25rem 3rem 20.55rem;
  width: calc(100% - 40.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF .text-hJH .creativity-starts-with-viewing-the-whole-world-differently-1Jy {
  margin-bottom: 1.7rem;
  max-width: 72.8rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5625;
  letter-spacing: -0.1rem;
  color: #02063d;
  font-family: B612, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF .text-hJH .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-tdf {
  margin-left: 0.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.3333333333;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF .auto-group-89vq-b2H {
  margin-right: 5.2383rem;
  width: 108.3617rem;
  height: 56.88rem;
  position: relative;
  flex-shrink: 0;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF .auto-group-89vq-b2H .button-JhP {
  width: 18rem;
  height: 6rem;
  position: absolute;
  left: 48rem;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2222222222;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a8080;
  border-radius: 0.5rem;
}
.startup-Jeu .header-hS9 .auto-group-poqh-AZF .auto-group-89vq-b2H .illustration-WYZ {
  width: 108.3617rem;
  height: 56.28rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
}
.startup-Jeu .auto-group-n85d-xfT {
  margin-bottom: 10.2016rem;
  box-sizing: border-box;
  padding: 14.02rem 36rem 7.575rem 36rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 245, 237, 0.5);
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ {
  margin: 0rem 3rem 16rem 0rem;
  width: 116.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .auto-group-ahsd-awj {
  box-sizing: border-box;
  padding: 0rem 28.9rem 13rem 31.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .auto-group-ahsd-awj .smart-jackpots-that-you-may-love-this-anytime-anywhere-io3 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.4705882353;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .auto-group-ahsd-awj .smart-jackpots-that-you-may-love-this-anytime-anywhere-M5K {
  margin-left: 0.1rem;
  max-width: 51.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw {
  width: 100%;
  height: 13rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-01-91B {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-01-91B .image-58-shs {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-01-91B .auto-group-jz4t-bds {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-01-91B .auto-group-jz4t-bds .fast-performance-ZMj {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-01-91B .auto-group-jz4t-bds .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-fvZ {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-02-YzM {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-02-YzM .image-62-hMT {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-02-YzM .auto-group-rerb-3AR {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-02-YzM .auto-group-rerb-3AR .fast-performance-bhj {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-02-YzM .auto-group-rerb-3AR .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-jZ3 {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-03-FXP {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-03-FXP .image-64-Bvq {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-03-FXP .auto-group-kkud-huB {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-03-FXP .auto-group-kkud-huB .fast-performance-fr1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .service-FeZ .service-3Tw .item-03-FXP .auto-group-kkud-huB .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-D6q {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h {
  margin: 0rem 16.1rem 9rem 11.4rem;
  width: calc(100% - 27.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h .auto-group-ynak-24H {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 15.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h .auto-group-ynak-24H .dash-uds {
  margin: 3.3rem 0.8rem 0rem 0rem;
  width: 7rem;
  height: 0.2rem;
  background-color: #dbdee6;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h .auto-group-ynak-24H .auto-group-awxr-d45 {
  width: 84.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h .auto-group-ynak-24H .auto-group-awxr-d45 .smart-jackpots-that-you-may-love-this-anytime-anywhere-B5b {
  width: 84rem;
  height: 15rem;
  position: absolute;
  left: 0.7rem;
  top: 0.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #0f2137;
  font-family: B612, 'Source Sans Pro';
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h .auto-group-ynak-24H .auto-group-awxr-d45 .quote-Gcq {
  opacity: 0.1;
  width: 5rem;
  height: 4.2308rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .quote-H6h .core-features-bv1 {
  margin-left: 8.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5;
  color: #7d8895;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .auto-group-cffu-YKT {
  margin-bottom: 5.9rem;
  width: 100%;
  height: 0.2rem;
  position: relative;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .auto-group-cffu-YKT .dividor-HH3 {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 6, 12, 0.1000000015);
  border-radius: 0.5rem;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .auto-group-cffu-YKT .active-pXs {
  width: 17rem;
  height: 0.2rem;
  position: absolute;
  left: 48.6rem;
  top: 0;
  background-color: #a17856;
  border-radius: 0.5rem;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 {
  margin: 0 8rem;
  width: calc(100% - 16rem);
  height: 4.725rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .auto-group-gkwz-t1w {
  box-sizing: border-box;
  padding: 0.1rem 9rem 0.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .auto-group-gkwz-t1w .image-11-QFB {
  margin: 0rem 9rem 0.025rem 0rem;
  width: 10rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .auto-group-gkwz-t1w .image-12-6do {
  margin-bottom: 0.105rem;
  width: 13rem;
  height: 4.42rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .image-13-33F {
  width: 15rem;
  height: 4.725rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .auto-group-hupt-nWd {
  box-sizing: border-box;
  padding-left: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .auto-group-hupt-nWd .image-14-8aV {
  margin: 0rem 9rem 0.15rem 0rem;
  width: 15rem;
  height: 4.575rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .auto-group-n85d-xfT .customer-7xu .logos-Lm7 .auto-group-hupt-nWd .image-15-TMs {
  margin-bottom: 0.05rem;
  width: 15rem;
  height: 3.675rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw {
  margin: 0rem 43.315rem 10.202rem 32.285rem;
  width: calc(100% - 75.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .text-Hbo {
  margin: 0rem 29.4rem 11.1rem 32.2rem;
  width: calc(100% - 61.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .text-Hbo .smart-jackpots-that-you-may-love-this-anytime-anywhere-Ri1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.4705882353;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .text-Hbo .smart-jackpots-that-you-may-love-this-anytime-anywhere-jTo {
  margin-left: 0.1rem;
  max-width: 52.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1875;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq {
  width: 100%;
  height: 45.4rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ {
  width: 35.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w {
  margin-bottom: 8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .auto-group-vnz3-cR7 {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .auto-group-vnz3-cR7 .image-65-MtV {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .auto-group-vnz3-cR7 .auto-group-c9pb-76y {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .auto-group-vnz3-cR7 .auto-group-c9pb-76y .fast-performance-sM3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .auto-group-vnz3-cR7 .auto-group-c9pb-76y .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-Yxy {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .learn-more-4RX {
  margin: 0rem 13.415rem 0rem 11.8rem;
  width: calc(100% - 25.2151rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .learn-more-4RX .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-o8D {
  margin-right: 1.0148rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625;
  color: #3083ff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-H7w .learn-more-4RX .vector-WoK {
  margin-top: 0.1693rem;
  width: 0.57rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .auto-group-hxn3-PcD {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .auto-group-hxn3-PcD .image-58-Wwj {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .auto-group-hxn3-PcD .auto-group-kj27-3gm {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .auto-group-hxn3-PcD .auto-group-kj27-3gm .fast-performance-BY5 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .auto-group-hxn3-PcD .auto-group-kj27-3gm .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-hmK {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .learn-more-Djf {
  margin: 0rem 13.415rem 0rem 11.8rem;
  width: calc(100% - 25.2151rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .learn-more-Djf .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-kzV {
  margin-right: 1.0148rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625;
  color: #3083ff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ek4s-XeZ .features-d7F .learn-more-Djf .vector-HDj {
  margin-top: 0.1693rem;
  width: 0.57rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK {
  width: 35.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ {
  margin-bottom: 8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .auto-group-47hz-eiV {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .auto-group-47hz-eiV .image-66-oLV {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .auto-group-47hz-eiV .auto-group-wsxd-kWd {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .auto-group-47hz-eiV .auto-group-wsxd-kWd .fast-performance-Wkh {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .auto-group-47hz-eiV .auto-group-wsxd-kWd .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-2yw {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .learn-more-ZDB {
  margin: 0rem 13.415rem 0rem 11.8rem;
  width: calc(100% - 25.2151rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .learn-more-ZDB .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-hKP {
  margin-right: 1.0148rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625;
  color: #3083ff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7iZ .learn-more-ZDB .vector-aPB {
  margin-top: 0.1693rem;
  width: 0.57rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .auto-group-afcb-Ths {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .auto-group-afcb-Ths .image-62-1UV {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .auto-group-afcb-Ths .auto-group-wcdd-9qb {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .auto-group-afcb-Ths .auto-group-wcdd-9qb .fast-performance-Hgu {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .auto-group-afcb-Ths .auto-group-wcdd-9qb .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-2eV {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .learn-more-MAy {
  margin: 0rem 13.415rem 0rem 11.8rem;
  width: calc(100% - 25.2151rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .learn-more-MAy .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-56y {
  margin-right: 1.0148rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625;
  color: #3083ff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-fpct-AoK .features-7tu .learn-more-MAy .vector-CBb {
  margin-top: 0.1693rem;
  width: 0.57rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 {
  width: 35.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s {
  margin-bottom: 8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .auto-group-aqjb-Cqo {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .auto-group-aqjb-Cqo .image-67-7xm {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .auto-group-aqjb-Cqo .auto-group-imzx-eC1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .auto-group-aqjb-Cqo .auto-group-imzx-eC1 .fast-performance-QBB {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .auto-group-aqjb-Cqo .auto-group-imzx-eC1 .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-LqX {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .learn-more-3zq {
  margin: 0rem 13.415rem 0rem 11.8rem;
  width: calc(100% - 25.2151rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .learn-more-3zq .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-mfw {
  margin-right: 1.0148rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625;
  color: #3083ff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-F9s .learn-more-3zq .vector-HeH {
  margin-top: 0.1693rem;
  width: 0.57rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .auto-group-xpgk-9gV {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .auto-group-xpgk-9gV .image-68-hCD {
  margin-right: 3rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .auto-group-xpgk-9gV .auto-group-1kfy-DRT {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .auto-group-xpgk-9gV .auto-group-1kfy-DRT .fast-performance-B7P {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .auto-group-xpgk-9gV .auto-group-1kfy-DRT .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-KUV {
  max-width: 23.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .learn-more-RnR {
  margin: 0rem 13.415rem 0rem 11.8rem;
  width: calc(100% - 25.2151rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .learn-more-RnR .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-eiu-yJ9 {
  margin-right: 1.0148rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625;
  color: #3083ff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .ultimate-features-NDw .features-Qpq .auto-group-ygnb-8b3 .features-zHo .learn-more-RnR .vector-fwf {
  margin-top: 0.1693rem;
  width: 0.57rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K {
  margin-bottom: 12.5649rem;
  box-sizing: border-box;
  padding: 13.979rem 36rem 15.917rem 36rem;
  width: 100%;
  height: 75.735rem;
  background-color: #f8f0ea;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/img.png');
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV {
  box-sizing: border-box;
  padding: 12.669rem 4.5rem 11.986rem 4.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .auto-group-moqb-QGy {
  margin: 0rem 11.7rem 6.556rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .auto-group-moqb-QGy .like-our-service-subscribe-us-wnh {
  margin-bottom: 3.1294rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.6176470588;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .auto-group-moqb-QGy .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-Tm3 {
  max-width: 41.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #343d48;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 {
  margin-top: 1.2552rem;
  width: 51.5rem;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 .auto-group-a6eb-8sB {
  margin-bottom: 1.993rem;
  width: 100%;
  height: 11.9582rem;
  display: flex;
  align-items: center;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 .auto-group-a6eb-8sB .feild-sJy {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 1.993rem 2.4rem;
  width: 35rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eff2f7;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 .auto-group-a6eb-8sB .button-Vr9 {
  width: 15rem;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2222222222;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4a87;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 .checkbox-CEm {
  margin-right: 23rem;
  width: calc(100% - 23rem);
  height: 5.9791rem;
  display: flex;
  align-items: flex-start;
  border-radius: 0.4rem;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 .checkbox-CEm .bg-Lrm {
  margin: 1.395rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 3.1888rem;
  background-color: #eff2f7;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.startup-Jeu .subscirbe-B9K .subscribe-5kV .field-BS9 .checkbox-CEm .get-your-blood-tests-delivered-at-let-home-collect-a-sample-fro-GkR {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #9095ad;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF {
  margin: 0rem 51.615rem 0rem 26.185rem;
  width: calc(100% - 77.8rem);
  height: 20.8048rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs {
  box-sizing: border-box;
  padding-right: 11.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .group-69-wEH {
  margin: 1.1rem 9.9rem 0rem 0rem;
  width: 21.4rem;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .group-69-wEH .logo-55b {
  margin: 0rem 3.4rem 2.3rem 0rem;
  width: calc(100% - 3.4rem);
  display: flex;
  align-items: center;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .group-69-wEH .logo-55b .s-1-1V3 {
  margin-right: 1.3984rem;
  width: 2.7019rem;
  height: 3.7008rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .group-69-wEH .logo-55b .petro-MYu {
  margin-top: 0.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #02073e;
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .group-69-wEH .terms-of-use-privacy-5zh {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .group-69-wEH .copyright-by-2019-yourname-inc-2Q9 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .auto-group-cjvm-Y7b {
  margin-bottom: 0.0048rem;
  height: calc(100% - 0.0048rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .auto-group-cjvm-Y7b .about-us-4bj {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-gx7d-EKs .auto-group-cjvm-Y7b .support-center-customer-support-about-us-copyright-yCu {
  max-width: 12.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-vfa7-62d {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-vfa7-62d .our-information-3iZ {
  margin-bottom: 2.8048rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-vfa7-62d .return-policy-privacy-policy-terms-conditions-site-map-xad {
  margin-left: 0.0357rem;
  max-width: 13.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d {
  box-sizing: border-box;
  padding-left: 10.5643rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .auto-group-snvj-YHw {
  margin: 0rem 13.1rem 0.005rem 0rem;
  height: calc(100% - 0.0048rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .auto-group-snvj-YHw .my-account-gQ9 {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .auto-group-snvj-YHw .press-inquiries-social-media-directories-images-b-roll-1hK {
  max-width: 10.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK {
  margin-bottom: 0.0048rem;
  width: 10.2rem;
  height: calc(100% - 0.0048rem);
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .connect-HPw {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: -0.05rem;
  color: #0f2137;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem .social-NwB {
  margin: 1.1rem 1.4rem 0.709rem 0rem;
  height: calc(100% - 1.8088rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem .social-NwB .group-hCm {
  margin-bottom: 1.8rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem .social-NwB .group-Sg9 {
  margin-bottom: 1.9682rem;
  width: 2rem;
  height: 1.6254rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem .social-NwB .group-Btd {
  margin-bottom: 1.8494rem;
  width: 2rem;
  height: 1.9506rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem .social-NwB .group-VeR {
  width: 2rem;
  height: 1.9977rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.startup-Jeu .footers-XwF .auto-group-uzg7-q8d .group-74-jdK .auto-group-jgzk-pem .facebook-twitter-github-dribbble-E6D {
  max-width: 6.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5;
  color: #02073e;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
